.Footer {
    grid-column: 2/3;
}

.Footer > h2 {
    font-family: "poppinsBold", Arial, Helvetica, sans-serif;
    padding-block: 32px;
}

.Footer > button {
    margin-top: 8px;
    margin-bottom: 64px;
}

.Footer > p {
    padding-block: 32px;
    display: inline-block;
    position: relative;
}

.Footer > p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 0;
    height: 3px;
    background-color: #bdbddd;
    transition: width 0.25s ease;
}

.Footer > p:hover::after {
    width: 100%;
}