.SkillBoxes {
    background-color: inhert;
    padding: 8px;
    top: 0px;
    transition: all 0.25s ease;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.358);
}

.SkillBoxes:hover {
    top: -5px;
}