.Nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-block: 16px;
}

.Nav > p {
    font-family: "poppinsBold", Arial, Helvetica, sans-serif;
    color: #90a0d9;
}

.Nav > ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

.Nav > ul > li {
    list-style-type: none;
}

.Nav > ul > li a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    position: relative;
}

.Nav > ul > li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #bdbddd;
    transition: width 0.25s ease;
}

.Nav > ul > li > a:hover::after {
    width: 100%;
}

.Nav > ul > a > svg {
    width: 30px;
}

.Nav > ul > a > img {
    width: 30px;
}