* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "poppins";
    src: url(./../public/README/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppinsBold";
    src: url(./../public/README/Poppins-Bold.ttf);
}

body {
    background-color: #23283e;
    color: #bdbddd;
    text-align: center;
    font-family: "poppins", Arial, Helvetica, sans-serif ;
}

body > div > div{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}

.lightmode {
    background-color: white;
    color: #23283e;
}

.lightmode .ContentHeader > h1 > span {
    color: #2978b5;
}

.lightmode .Nav > p {
    color: #2978b5;
}

.lightmode .button {
    border: 1px solid #2978b5;
    color: #2978b5;
    z-index: 1;

}

.lightmode .button::before {
    background-color: #2978b5;
    z-index: -1;

}

.lightmode .button:hover {
    color: white;
}

.lightmode .Nav > ul > li a::after {
    background-color: #2978b5;
}

.lightmode .Footer > p::after {
    background-color: #2978b5;
}